server:
  port: 8081

management:
  server:
    port: 8081

spring:
  application:
    name: session
  datasource:
    url: jdbc:postgresql://localhost:5432/movie_choice_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        default_schema: schema_session